body{
  background-image: url("/images/frnt.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#box1{
  border: 1px solid;
  height: 300px;
  width: 300px;
  background-color: skyblue;
  position:relative;
  top:150px;
  left:150px;
}

#diarylink {
    position: absolute;
    top: 763px;
    left: 683px;
}
#password {
    position: relative;
    top: 492px;
    left: 641px;
}
a {
  color: rgba(19, 255, 0, 0.35);
}
#passwordtext {
  color:rgb(48, 255, 0);
  position: absolute;
  left: 42
}
#lname{
  position:absolute;
  left: 55px;
}